* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*header Nevegation Style Here */
nav {
    display: flex;
    margin: 50px 200px;
    justify-content: space-between;
}

.btn-primary {
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-weight: 700px;
    font-size: 20px;
    background-color: #FD6E0A;
    padding: 18px 36px;
    margin-left: 51px;
}

nav .nav-title {
    font-weight: 800px;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav .prymary {
    color: #FD6E0A;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

/* Header Bannar Style */
.bannar {
    display: flex;
    align-items: center;
    margin: 50px 100px 50px 200px;

}

.bannar-sub-title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 45px;
}

.bannar-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 85px;
}

.bannar-discription {
    font-size: 18px;
    margin-bottom: 30px;

}

/* .btn-primary {
    margin-right: 30px;
    margin-bottom: 180px;
} */

.btn {
    padding: 19px 24px;
    margin-left: 30px;
    color: #FD6E0A;
    font-size: 18px;

}

/* img {
    background-image: url(header_bg.png);
    width: 584px;
    height: 676px;
    left: 978px;
    top: 161px;
} */
/* main */
main {
    max-width: 1140px;
    margin: 0 auto;

}

/* section style here */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
    font-size: 35px;
}

.section-description {
    font-size: 18px;
    line-height: 30px;

    color: #757575;
    margin-bottom: 30px;
}

/* Info container  */
.info-containar {
    display: flex;
    justify-content: space-around;
}

.about-info {}

.info-title {
    color: #757575;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-size: 20px;
}

.info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px
}